legacy-peer-deps=true
allow-scripts[]=@prisma/client
allow-scripts[]=@prisma/engines
allow-scripts[]=prisma
allow-scripts[]=unrs-resolver
allow-scripts[]=@parcel/watcher
allow-scripts[]=@swc/core
allow-scripts[]=sharp
